@import '~@puppet/sass-variables/index';

.route-upgrade {
}

.ScreenHeader {
  margin-bottom: 28px;
  margin-top: 12px;
}

.ScreenHeader-description {
  margin-top: 10px;
}

.TableHeader {
  margin-top: 12px;
  margin-bottom: 12px;
}