@import '~@puppet/sass-variables/index';
@import '~@puppet/react-layouts/src/index';

.route-endpoints {
}

.ScreenHeader {
    margin-bottom: 28px;
    margin-top: 12px;
}

.ScreenHeader-description {
    margin-top: 10px;
}

.endpoint-table-header {
    margin-bottom: 16px;
    margin-top: 40px;
}